main > .account
{
    background-color: white;
    min-height: 600px;
    box-shadow: 5px 0 3px rgba(0, 0, 0, 0.5), -5px 0 5px rgba(0, 0, 0, 0.5);
}
main > .account > p
{
    font-size: 32px;
    margin-left: 30px;
}
main > .account > .photo > img
{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    padding: 2px;
}
main > .account div
{
    margin-left: 30px;
    margin-bottom: 20px;
}
main > .account div > label
{
    font-size: 16px;
    display: inline;
}
main > .account div > input
{
    width: 60%;
    height: 24px;
}
main > .account .submit
{
    background-color: rgb(121, 159, 229);
    border: 2px solid rgb(94, 138, 218);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    width: 100px;
    height: 30px;
}
main > .account .submit:hover
{
    cursor: pointer;
}
main > .account .fileUpload
{
    margin-right: 10%;
    padding-bottom: 20px;
    border: 1px dashed darkcyan;
}
main > .account .fileUpload > label
{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    display: block;
}
main > .account .fileUpload > div > input
{
    height: 30px;
    margin-left: 30px;
    display: block;
}
main > .account .fileUpload > div > .or
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
    display: block;
}