main > .login
{
    background-color: white;
    min-height: 600px;
    box-shadow: 5px 0 3px rgba(0, 0, 0, 0.5), -5px 0 5px rgba(0, 0, 0, 0.5);
}
main > .login > p
{
    font-size: 32px;
    margin-left: 30px;
}
main > .login div
{
    margin-left: 30px;
    margin-bottom: 20px;
}
main > .login div > label
{
    font-size: 16px;
    display: inline;
}
main > .login div > input
{
    width: 80%;
    height: 24px;
}
main > .login .submit
{
    background-color: rgb(121, 159, 229);
    border: 2px solid rgb(94, 138, 218);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    width: 100px;
    height: 30px;
}
main > .login .submit:hover
{
    cursor: pointer;
}